*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
    background-image:linear-gradient(to right,orangered,#fff) ;
}
/* ######################whole container styling############################ */
.container{
    position: relative;
    margin: 0px auto;
    top:100px;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
    background-color: #fff;
}

/* ##################################heading######################################## */
.heading span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: orangered;
}

/* ##################################task container styling###################################### */
.task-container{
    height: 350px;
    overflow-Y: visible;
    padding: 10px;
}
.scrollbar{
    overflow-y: scroll;
}
.tasks .msg{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg h2{
    color: gray;
    font-weight: 100;
}
.tasks li{
    font-size: 1.2rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li div{
    display: flex;
    align-items: center;
}
li div a{
    margin-right: 10px;
}
li input,label{
    cursor: pointer;
    user-select: none;
}
li a{
    text-decoration: none;
    color:gray
}
li a:active{
    color:orangered;
}
li span{
    font-weight: 100;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #e4e4e4;
}
li span:hover{
    background-color: #e4e4e4;
}

/*############custom checkbox styling##########*/ 
.task input{
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 15px;
    transition: .3s background-color,.3s border-color;
}
.task input:hover{
    border-color: orangered;
}
.task input:focus{
    outline: 1px solid orangered;
}
.task input::before{
    content: '\2713';
    width: 50%;
    height: 50%;
    position: relative;
    top:10%;
    left:30%;
    color:#fff;
}
.task input:checked{
    background-color: orangered;
    border-color: orangered;
}
.task input:checked + label{
    text-decoration: line-through solid orangered;
    color:gray;
}
/* ###############################input styling################################ */
form{
    display: flex;
    justify-content: space-around;
}
form input{
    width: 60%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
form input:focus{
    outline: 1px solid orangered;
}
.btn{
    text-decoration: none;
    background-color: orangered;
    padding: 10px;
    border-radius: 15px;
    color:#fff;
    width: 20%;
    font-size: large;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s background-color,.3s scale;
}
.btn:hover{
    background-color: rgb(255, 51, 0);
}
.btn:active{
    scale: .97;
}

/*################################### alert box css ###############################*/
.alertbox{
    position: absolute;
    z-index: 2;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    width: 400px ;
    height: 200px;
    background-color: #f3ebe5;
    border-radius: 15px;
    display: flex;
    transform: scale(0);
    flex-direction: column;
    transition: .3s transform;
}
.alertmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    color:rgb(102, 101, 101)
}
.alertbtn{
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
}
.overlay{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: rgba(0,0,0,0);
    z-index: 1;
    scale: 0;
    transition: .3s background-color;
}

/* ############################### media query #################################### */
@media screen and (max-width:600px){
 .container{
    top:150px;
    width: 350px;
 }
 .alertbox{
    width: 300px;
    left: calc(50% - 150px);
 }
}